In [ ]:
# PROBLEM STATEMENT 1
import pandas as pd
census = pd.read_csv('/content/census_2011.csv')
required_columns = ['State name','District name','Population','Male','Female','Literate','Male_Literate','Female_Literate','Rural_Households',
                    'Urban_Households','Households','Age_Group_0_29','Age_Group_30_49','Age_Group_50','Age not stated']
census_selected = census[required_columns]
print(census_selected.head())

          State name District name  Population      Male    Female  Literate  \
0  JAMMU AND KASHMIR       Kupwara    870354.0  474190.0  396164.0  439654.0
1  JAMMU AND KASHMIR        Badgam    753745.0       NaN  355704.0  335649.0
2  JAMMU AND KASHMIR   Leh(Ladakh)    133487.0   78971.0   54516.0   93770.0
3  JAMMU AND KASHMIR        Kargil    140802.0       NaN   63017.0       NaN
4  JAMMU AND KASHMIR         Punch         NaN  251899.0  224936.0  261724.0

   Male_Literate  Female_Literate  Rural_Households  Urban_Households  \
0       282823.0         156831.0          158438.0               NaN
1       207741.0         127908.0          160649.0           27190.0
2        62834.0          30936.0           36920.0           17474.0
3        56301.0          29935.0           40370.0            7774.0
4       163333.0          98391.0          132139.0           15269.0

   Households  Age_Group_0_29  Age_Group_30_49  Age_Group_50  Age not stated
0    181664.0        600759.0         178435.0       89679.0          1481.0
1    187839.0        503223.0         160933.0       88978.0           611.0
2     54394.0         70703.0          41515.0           NaN           250.0
3     48144.0         87532.0          35561.0       17488.0           221.0
4    147408.0        304979.0         109818.0       61334.0           704.0

In [ ]:
import pandas as pd
data = {
    'Department': ['Sales', 'Marketing', 'IT', 'HR', 'Sales', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Salary': [70000, 48000, 110000, 50000, 72000, 95000]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
  Department Employee  Salary
0      Sales    Alice   70000
1  Marketing      Bob   48000
2         IT  Charlie  110000
3         HR    David   50000
4      Sales      Eva   72000
5         IT    Frank   95000

In [ ]:
# PROBLEM STATEMENT 2
census_selected = census_selected.rename(columns={
    'State name': 'State/UT',
    'District name': 'District',
    'Male_Literate': 'Literate_Male',
    'Female_Literate': 'Literate_Female',
    'Rural_Households': 'Households_Rural',
    'Urban_Households': 'Households_Urban',
    'Age_Group_0_29': 'Young_and_Adult',
    'Age_Group_30_49': 'Middle_Aged',
    'Age_Group_50': 'Senior_Citizen',
    'Age not stated': 'Age_Not_Stated'
})
census_data=census_selected
print(census_data.head())

            State/UT     District  Population      Male    Female  Literate  \
0  JAMMU AND KASHMIR      Kupwara    870354.0  474190.0  396164.0  439654.0
1  JAMMU AND KASHMIR       Badgam    753745.0       NaN  355704.0  335649.0
2  JAMMU AND KASHMIR  Leh(Ladakh)    133487.0   78971.0   54516.0   93770.0
3  JAMMU AND KASHMIR       Kargil    140802.0       NaN   63017.0       NaN
4  JAMMU AND KASHMIR        Punch         NaN  251899.0  224936.0  261724.0

   Literate_Male  Literate_Female  Households_Rural  Households_Urban  \
0       282823.0         156831.0          158438.0               NaN
1       207741.0         127908.0          160649.0           27190.0
2        62834.0          30936.0           36920.0           17474.0
3        56301.0          29935.0           40370.0            7774.0
4       163333.0          98391.0          132139.0           15269.0

   Households  Young_and_Adult  Middle_Aged  Senior_Citizen  Age_Not_Stated
0    181664.0         600759.0     178435.0         89679.0          1481.0
1    187839.0         503223.0     160933.0         88978.0           611.0
2     54394.0          70703.0      41515.0             NaN           250.0
3     48144.0          87532.0      35561.0         17488.0           221.0
4    147408.0         304979.0     109818.0         61334.0           704.0

In [ ]:
# PROBLEM STATEMENT 3
def capitalize_state_name(state):
    words = state.lower().split()
    capitalized_words = [word.capitalize() if word != 'and' else word for word in words]
    return ' '.join(capitalized_words)
census_data['State/UT'] = census_data['State/UT'].apply(capitalize_state_name)
print(census_data.head())

            State/UT     District  Population      Male    Female  Literate  \
0  Jammu and Kashmir      Kupwara    870354.0  474190.0  396164.0  439654.0
1  Jammu and Kashmir       Badgam    753745.0       NaN  355704.0  335649.0
2  Jammu and Kashmir  Leh(Ladakh)    133487.0   78971.0   54516.0   93770.0
3  Jammu and Kashmir       Kargil    140802.0       NaN   63017.0       NaN
4  Jammu and Kashmir        Punch         NaN  251899.0  224936.0  261724.0

   Literate_Male  Literate_Female  Households_Rural  Households_Urban  \
0       282823.0         156831.0          158438.0               NaN
1       207741.0         127908.0          160649.0           27190.0
2        62834.0          30936.0           36920.0           17474.0
3        56301.0          29935.0           40370.0            7774.0
4       163333.0          98391.0          132139.0           15269.0

   Households  Young_and_Adult  Middle_Aged  Senior_Citizen  Age_Not_Stated
0    181664.0         600759.0     178435.0         89679.0          1481.0
1    187839.0         503223.0     160933.0         88978.0           611.0
2     54394.0          70703.0      41515.0             NaN           250.0
3     48144.0          87532.0      35561.0         17488.0           221.0
4    147408.0         304979.0     109818.0         61334.0           704.0

In [ ]:
# PROBLEM STATEMENT 4

def read_districts_from_file(file_path):
    with open(file_path, 'r') as file:
        return set(line.strip() for line in file)
df = pd.read_csv('census_2011.csv')

telangana_districts = set(line.strip() for line in open('/content/Telangana.txt', 'r'))
df.loc[df['District name'].isin(telangana_districts), 'State name'] = 'Telangana'
ladakh_districts = {'Leh', 'Kargil'}
df.loc[df['District name'].isin(ladakh_districts), 'State name'] = 'Ladakh'
df.to_csv('census_2011_updated.csv', index=False)
print(df)

     District code                   State name              District name  \
0                1            JAMMU AND KASHMIR                    Kupwara
1                2            JAMMU AND KASHMIR                     Badgam
2                3            JAMMU AND KASHMIR                Leh(Ladakh)
3                4                       Ladakh                     Kargil
4                5            JAMMU AND KASHMIR                      Punch
..             ...                          ...                        ...
635            636                  PONDICHERRY                       Mahe
636            637                  PONDICHERRY                   Karaikal
637            638  ANDAMAN AND NICOBAR ISLANDS                   Nicobars
638            639  ANDAMAN AND NICOBAR ISLANDS  North  AND Middle Andaman
639            640  ANDAMAN AND NICOBAR ISLANDS              South Andaman

     Population      Male    Female  Literate  Male_Literate  Female_Literate  \
0      870354.0  474190.0  396164.0  439654.0       282823.0         156831.0
1      753745.0       NaN  355704.0  335649.0       207741.0         127908.0
2      133487.0   78971.0   54516.0   93770.0        62834.0          30936.0
3      140802.0       NaN   63017.0       NaN        56301.0          29935.0
4           NaN  251899.0  224936.0  261724.0       163333.0          98391.0
..          ...       ...       ...       ...            ...              ...
635     41816.0   19143.0   22673.0   36470.0        16610.0          19860.0
636    200222.0   97809.0  102413.0  154916.0        79903.0          75013.0
637     36842.0   20727.0       NaN   25332.0        15397.0           9935.0
638    105597.0   54861.0   50736.0   78683.0        43186.0          35497.0
639         NaN  127283.0  110859.0  190266.0       105794.0          84472.0

          SC  ...  Power_Parity_Rs_90000_150000  Power_Parity_Rs_45000_150000  \
0     1048.0  ...                          94.0                         588.0
1        NaN  ...                         126.0                         562.0
2      488.0  ...                          46.0                         122.0
3       18.0  ...                          27.0                         114.0
4      556.0  ...                          78.0                         346.0
..       ...  ...                           ...                           ...
635    144.0  ...                        2316.0                        4309.0
636  35348.0  ...                        1063.0                        2408.0
637      0.0  ...                         685.0                        1895.0
638      0.0  ...                         685.0                        1895.0
639      0.0  ...                        1371.0                        3020.0

     Power_Parity_Rs_150000_240000  Power_Parity_Rs_240000_330000  \
0                             71.0                          101.0
1                             72.0                           89.0
2                             15.0                           22.0
3                             12.0                           18.0
4                             35.0                           50.0
..                             ...                            ...
635                         1370.0                          838.0
636                          665.0                          340.0
637                          212.0                          134.0
638                          212.0                            NaN
639                          649.0                          368.0

     Power_Parity_Rs_150000_330000  Power_Parity_Rs_330000_425000  \
0                            172.0                           74.0
1                            161.0                           96.0
2                              NaN                           20.0
3                             30.0                           19.0
4                             85.0                           59.0
..                             ...                            ...
635                         2208.0                          576.0
636                         1005.0                          246.0
637                          346.0                           70.0
638                          346.0                           70.0
639                         1017.0                          265.0

     Power_Parity_Rs_425000_545000  Power_Parity_Rs_330000_545000  \
0                             10.0                           84.0
1                             28.0                          124.0
2                              NaN                            NaN
3                              3.0                           22.0
4                              8.0                           67.0
..                             ...                            ...
635                          978.0                         1554.0
636                            NaN                          729.0
637                          120.0                          190.0
638                          120.0                          190.0
639                          497.0                          762.0

     Power_Parity_Above_Rs_545000  Total_Power_Parity
0                            15.0              1119.0
1                            18.0              1066.0
2                            17.0               242.0
3                             7.0               214.0
4                            12.0               629.0
..                            ...                 ...
635                        1446.0             10027.0
636                         341.0              4890.0
637                          84.0              3151.0
638                          84.0              3151.0
639                         376.0              5782.0

[640 rows x 118 columns]